{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <style>
        .container {
            width: 500px;
        }

        .btn-primary a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body background="{% static 'bg.jpg' %}">
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MovRec</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'my-login' %}">Sign In
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="{% url 'register' %}">Sign Up
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
    <div class="container">
        <h1> Welcome!! </h1>
        <button type="button" class="btn btn-primary"><a href="{% url 'register' %}"> Register here </a></button>
        <br> <br>
        <button type="button" class="btn btn-primary"><a href="{% url 'my-login' %}"> Login here </a></button>
    </div>
</body>
</html>