{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <title>Movie List</title>
    <style>

         body {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 55vh;
            margin: 0;
            background-color: #f8f9fa;
        }

        .movie-container{
        background: white;
        border-radius: 10px; /* Adjust the value to control the amount of rounding */
        overflow: hidden; /* Ensures the curved corners are visible */

        }
    </style>
</head>

<body background="{% static 'bg.jpg' %}">
 <div class="container">
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>

     <br/>
     <br/>
<h1 style="color:white;">Results</h1>

    {% for movie in movies %}
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>

<h1 style="color:white;">Results</h1>
  <div class="movie-container">
    <div class="movie-poster">
      <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
    </div>
    <div class="movie-details">
      <h2>{{ movie.title }}</h2>
      <p class="movie-synopsis">{{ movie.synopsis }}</p>
      <p class="movie-rating">Rating: {{ movie.rating }}</p>
      <p class="movie-genres">Genres:
        {% for genre in movie.genres %}
          {{ genre }}
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
{% endfor %}
 </div>
</body>
</html>