<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <style>
        .container {
            width: 500px;
        }
    </style>
    </head>

<body>

     <div class="container">
    <h1> Login here </h1>

    <form method="POST" autocomplete="off">

        {% csrf_token %}

        {{loginform.as_p}}

        <input type="submit" value="Login"/>


    </form>
     </div>

</body>
</html>